<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello world</h1>
     
      <nav>
        <ul>
          <il><a href="/"><button> Index </button></a></il>
          <il><a href="/signup"><button> Sign up </button></a></il>
          <il><a href="/login"><button> Log In </button></a> </il>
          <il><a href="/pilotprofile"><button>Private Profile</button></a></il>
          
        </ul>
      </nav>
  </body>
</html>
