<!DOCTYPE html>
<html>
  <head>
    <title>Shooting Stars | Drone Races</title>
    <!-- Mobile Specific Metas-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <!--CSS-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/pilotprofile">Pilot Profile</a> </li>
          <li><a href="/auth/login"> Log In</a> </li>
          <li><a href="/auth/signup"> Sign up </a></li>
          <li><a href="/race"> Races </a></li>
          <li><a href="/"> Index </a></li>                  
        </ul>
      </nav>
    </header>

    <div class="video">
      <iframe preload src="https://www.youtube.com/embed/zSGv8yPqrHc" frameborder="0" mute="" allowfullscreen></iframe>
    </div>

    <script type="text/javascript" src="javascript/map.js"></script>
  </body>
</html>
