<!DOCTYPE html>
<html>
  <head>
    <title>Shooting Stars | Drone Races</title>
    <!-- Mobile Specific Metas-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
    <!--CSS-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='../fonts/style.css' />
  </head>

  <body>
    
    <header>
      <nav>
        <h1><i>SHOOTING STARS</i></h1>
        <ul>
          
          <li><a href="/auth/login"><span class="icon-user"></span> Log In</a> </li>
          <li><a href="/auth/signup"> Sign up </a></li>
                        
        </ul>
      </nav>
    </header>

    <div class="video">
      <iframe width="1000" height="550" preload src="https://www.youtube.com/embed/zSGv8yPqrHc?rel=0&autoplay=1" frameborder="0" mute="" allowfullscreen></iframe>
    </div>

    <div class="initialbuttons">

    <a href="/auth/login" class="button">JOIN A RACE</a>
  
    <a href="/auth/login"class="button">CREATE A RACE</a>
      
   </div>



 
  </body>
</html>
