<!DOCTYPE html>
<html>
  <head>
    <title>Shooting Stars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h1>Shooting Stars</h1>

    <header class="main-menu">
      <nav class="main-menu_sections">
        <div clas="main-menu_section-center">
          <ul>
            <il><a href="/"><button> Index </button></a></il>
            <il><a href="/races"><button> Races </button></a></il>          
            <il><a href="/auth/signup"><button> Sign up </button></a></il>
            <il><a href="/auth/login"><button> Log In </button></a> </il>
            <il><a href="/pilotprofile"><button>Pilot Profile</button></a> </il>
          </ul>
        </div>
      </nav>
    </header>


    <video src=""></video>




    <script type="text/javascript" src="javascript/main.js"></script>
  </body>
</html>
