<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h1>Log In</h1>

    <header>
      <nav>
        
          <ul>
            <il><a href="/"> Index </a></il>
            <il><a href="/race"> Races </a></il>          
            <il><a href="/auth/signup">Sign up </a></il>
            <il><a href="/auth/login">Log In </a> </il>
            <il><a href="/pilotprofile">Pilot Profile</a> </il>
          </ul>
        
      </nav>
    </header>





<form method="post" action="/auth/login">
  <div>
    <label for="username"> Your username: </label>
    <input type="text" name="username">
  </div>

  <div>
    <label for="password"> Your password: </label>
    <input type="password" name="password">
  </div>
  <% if (typeof(errorMessage) != "undefined") { %>
  <div class="error-message"><%= errorMessage %></div>
  <% } %>
  <button> Log in </button>
</form>





    <script type="text/javascript" src="javascript/main.js"></script>
  </body>
</html>
