<!DOCTYPE html>
<html>
  <head>
    <title>Pilots Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pilots/Users Profile</h1>
    <nav>
        <ul>
          <il><a href="/"><button> Index </button></a></il>
          <il><a href="/signup"><button> Sign up </button></a></il>
          <il><a href="/login"><button> Log In </button></a> </il>
          <il><a href="/pilotprofile"><button>Private Profile</button></a></il>
        </ul>
      </nav>

      <form method="post" action="/signup">
        
         <div>
           <label for="username"> New username: </label>
           <input type="text" name="username">
         </div>
       
         <div>
           <label for="password"> New password: </label>
           <input type="password" name="password">
         </div>
         <% if (typeof(errorMessage) != "undefined") { %>
         <div class="error-message"><%= errorMessage %></div>
         <% } %>
         <button> Sign up </button>

  </body>
</html>
