<!DOCTYPE html>
<html>
  <head>
    <title>Pilots Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h1>Pilots/Users Profile</h1>

    <header>
      <nav>
        
          <ul>
            <il><a href="/">Index </a></il>
            <il><a href="/race">Races </a></il>          
            <il><a href="/auth/signup"> Sign up </a></il>
            <il><a href="/auth/login"> Log In </a> </il>
            <il><a href="/pilotprofile">Pilot Profile</a> </il>
          </ul>
        </div>
      </nav>
    </header>



    <p>Name: </p>
    <p>Drone Name: </p>
    <p>Drone Description: </p>


    <!--

    <h2>Races Map</h2>
    <div id="map"></div>

    <h3>CREATE A NEW RACE</h3>
    <a href="/newRace/newRace">RACE</a>

    -->

    <script  
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChN--yHostbPoNYH34rbCEZfUXDgNxaKY">
    </script>





    <script type="text/javascript" src="javascript/main.js"></script>
  </body>
</html>
