<!DOCTYPE html>
<html>
  <head>
    <title>Pilots Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h1>Pilots/Users Profile</h1>

    <header>
      <nav>
        
          <ul>
            <il><a href="/">Index </a></il>
            <il><a href="/race">Races </a></il>          
            <il><a href="/auth/signup"> Sign up </a></il>
            <il><a href="/auth/login"> Log In </a> </il>
            <il><a href="/pilotprofile">Pilot Profile</a> </il>
          </ul>
        </div>
      </nav>
    </header>


    <p>Name:<%= user.username %> </p>
    <p>nickName:<%= user.name %> </p>
    <p>Drone Name:<%= user.drone_name %> </p>
    <p>Drone Description: <%= user.drone_description %></p>

    <h3>ACTUAL RACES</h3>

    <div id="map"></div>
    

    <script  
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChN--yHostbPoNYH34rbCEZfUXDgNxaKY">
    </script>
    <script type="text/javascript" src="javascript/map.js"></script>
  </body>
</html>
