<!DOCTYPE html>
<html>
  <head>
    <title>Pilots Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h1>Race</h1>

    <header class="main-menu">
      <nav class="main-menu_sections">
        <div clas="main-menu_section-center">
          <ul>
            <il><a href="/"><button> Index </button></a></il>
            <il><a href="/race"><button> Races </button></a></il>          
            <il><a href="/auth/signup"><button> Sign up </button></a></il>
            <il><a href="/auth/login"><button> Log In </button></a> </il>
            <il><a href="/pilotprofile"><button>Pilot Profile</button></a> </il>
          </ul>
        </div>
      </nav>
    </header>



   
    <p>Race Name: </p>
    <p>Race Description: </p>