<!DOCTYPE html>
<html>
  <head>
    <title>Sign up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h1>Sign up</h1>

    <header>
      <nav>
        
          <ul>
            <il><a href="/">Index </a></il>
            <il><a href="/race">Races </a></il>          
            <il><a href="/auth/signup"> Sign up </a></il>
            <il><a href="/auth/login"> Log In </a> </il>
            <il><a href="/pilotprofile">Pilot Profile</a> </il>
          </ul>
        
      </nav>
    </header>

  <form method="post" action="/auth/signup">
    <div>
      <label for="username"> Your username: </label>
      <input type="text" name="username">
    </div>
  
    <div>
      <label for="password"> Your password: </label>
      <input type="password" name="password">
    </div>

    <div>
        <label for="name"> Your nickname: </label>
        <input type="text" name="name">
    </div>

    <div>
        <label for="drone_name"> Your drone name: </label>
        <input type="text" name="drone_name">
    </div>

    <div>
        <label for="drone_description"> Your drone Description: </label>
        <input type="text" name="drone_description">
    </div>

    <% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
    <% } %>
    <button> Submit </button>
  </form>





   
  </body>
</html>
