<!DOCTYPE html>
<html>
  <head>
    <title>Sign up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h1>Sign up</h1>

    <header class="main-menu">
      <nav class="main-menu_sections">
        <div clas="main-menu_section-center">
          <ul>
            <il><a href="/"><button> Index </button></a></il>
            <il><a href="/races"><button> Races </button></a></il>          
            <il><a href="/auth/signup"><button> Sign up </button></a></il>
            <il><a href="/auth/login"><button> Log In </button></a> </il>
            <il><a href="/pilotprofile"><button>Pilot Profile</button></a> </il>
          </ul>
        </div>
      </nav>
    </header>

  <form method="post" action="/auth/signup">
    <div>
      <label for="username"> Your username: </label>
      <input type="text" name="username">
    </div>
  
    <div>
      <label for="password"> Your password: </label>
      <input type="password" name="password">
    </div>

    <div>
        <label for="name"> Your nickmane: </label>
        <input type="text" name="name">
    </div>

    <div>
        <label for="drone_name"> Your drone name: </label>
        <input type="text" name="drone_name">
    </div>

    <div>
        <label for="drone_description"> Your drone Description: </label>
        <input type="text" name="drone_description">
    </div>

    <% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
    <% } %>
    <button> Submit </button>
  </form>





    <script type="text/javascript" src="javascript/main.js"></script>
  </body>
</html>
