<!DOCTYPE html>
<html>
  <head>
    <title>Sign up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav>
        <h1><i>SIGN UP</i></h1>
        <ul>
          
          <li><a href="/"> Index </a></li>
          <li><a href="/auth/login"> Log In</a> </li>
          <li><a href="/auth/signup"> Sign up </a></li>
                        
        </ul>
      </nav>
    </header>

  <form method="post" action="/auth/signup">
    <div>
      <label for="username"> Your username: </label>
      <input type="text" name="username">
    </div>
  
    <div>
      <label for="password"> Your password: </label>
      <input type="password" name="password">
    </div>

    <div>
        <label for="name"> Your nickname: </label>
        <input type="text" name="name">
    </div>

    <div>
        <label for="drone_name"> Your drone name: </label>
        <input type="text" name="drone_name">
    </div>

    <div>
        <label for="drone_description"> Your drone Description: </label>
        <input type="text" name="drone_description">
    </div>

    <% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
    <% } %>
    <button> Submit </button>
  </form>





   
  </body>
</html>
