*{
  padding:0;
  margin:0;
  border:0;

}

body {
 
  font: 25px "Share Tech Mono", Helvetica, Arial, sans-serif;
}

#map {
  height: 500px;
  width: 50%;
 }

 header nav {
   background: #001AFF;
   margin-bottom:10px;
 }
    header nav ul {
      list-style:none;
      overflow:hidden;
    }
      header nav ul li{
        float:right;
      }
        header nav ul li a{
          display:block;
          padding:20px;
          color:white;
          text-decoration:none;
        }
          header nav ul li a:hoover{
            background:#2980b9
          }

.video{
  width:50%;
  margin:0px auto;
}
